In [17]:
import pandas as pd
import numpy as np
import random

In [2]:
fecha = (['23/1/2023','15/02/23','12/1/23','7/2/23','26/2/23', '1/03/23'])
nombres = ['andres','eva','miguel','ana','luis', 'jacinto']
# transporte = [] # 0-Movilidad urbana sostenible a pie/bici/patinete,  1- transporte público y 2- vehículo propio 3- Otra
# tiempo_transporte_m = ['40','15','7','20','25', '15']
cp = ['28006','28016','28002','28001','28014', '28002'] # posiblemente cambio a ciudades o provincias
edad = ['22','35','36','42','57', '63'] # Fecha de nacimiento
n_hijos_menores = ['0','3','0','1','1', '0'] # para ampliar sugerencias
sexo =
email =

In [4]:
df = {
    'fecha': fecha,
    'nombre': nombres,
    'transporte': transporte,
    "tiempo_transporte_m" : tiempo_transporte_m,
    "n_hijos_menores": n_hijos_menores,
    "cp" : cp,
    "edad": edad,
}

In [5]:
usuarios = pd.DataFrame(df)

In [6]:
usuarios

,fecha,nombre,transporte,tiempo_transporte_m,n_hijos_menores,cp,edad
0,23/1/2023,andres,coche,40,0,28006,22
1,15/02/23,eva,autobus,15,3,28016,35
2,12/1/23,miguel,coche,7,0,28002,36
3,7/2/23,ana,a pie,20,1,28001,42
4,26/2/23,luis,metro,25,1,28014,57
5,1/03/23,jacinto,bici,15,0,28002,63

In [9]:
usuarios.to_csv("ejemplo_usuarios.csv",index=False)

### 1. GENERAMOS VALORES ALEATORIOS PARA LA BASE DE DATOS

In [16]:
# Datos de ejemplo ampliados manualmente
fecha = ['23/1/2023', '15/02/23', '12/1/23', '7/2/23', '26/2/23', '1/03/23', '4/4/23', '11/05/23', '19/06/23', '28/07/23', '8/8/23', '17/09/23']
nombres = ['andres', 'eva', 'miguel', 'ana', 'luis', 'jacinto', 'carlos', 'sofia', 'pablo', 'clara', 'juan', 'laura']
cp_madrid = ['28001', '28002', '28003', '28004', '28005', '28006', '28007', '28008', '28009', '28010', '28011', '28012']
edades = ["1/01/1993", "5/02/1996","7/09/1980","5/12/1960","26/03/1975","22/04/1955", "10/11/1989", "15/06/1992", "3/03/1985", "12/08/1978", "21/09/1999", "14/05/1987"]
n_hijos_menores = ['0', '3', '0', '1', '1', '0', '2', '1', '0', '4', '0', '2']
sexos = ['hombre', 'mujer', 'hombre', 'mujer', 'hombre', 'mujer', 'hombre', 'mujer', 'hombre', 'mujer', 'hombre', 'mujer']
dominio_email = "@gmail.com"

# Verificar que haya al menos 500000 datos en cada columna sin repeticiones
num_personas = 500000

# Crear una lista de índices únicos para cada columna
indices_unicos = list(range(len(nombres)))

# Asegurar que haya al menos 500000 datos únicos para cada columna
while len(indices_unicos) < num_personas:
    indices_unicos.append(random.choice(range(len(nombres))))

# Crear la base de datos a partir de los índices únicos
base_de_datos = []
for i in indices_unicos:
    persona = {}
    persona['fecha'] = fecha[i]
    persona['nombre'] = nombres[i]
    persona['cp'] = cp_madrid[i % len(cp_madrid)]
    persona['edad'] = edades[i]
    persona['n_hijos_menores'] = n_hijos_menores[i]
    persona['sexo'] = sexos[i]
    persona['email'] = nombres[i] + str(i) + dominio_email
    base_de_datos.append(persona)

# Crear DataFrame a partir de la lista de diccionarios
usuarios_df = pd.DataFrame(base_de_datos)

# Mostrar los primeros 25 registros del DataFrame
usuarios_df

,fecha,nombre,cp,edad,n_hijos_menores,sexo,email
0,23/1/2023,andres,28001,1/01/1993,0,hombre,andres0@gmail.com
1,15/02/23,eva,28002,5/02/1996,3,mujer,eva1@gmail.com
2,12/1/23,miguel,28003,7/09/1980,0,hombre,miguel2@gmail.com
3,7/2/23,ana,28004,5/12/1960,1,mujer,ana3@gmail.com
4,26/2/23,luis,28005,26/03/1975,1,hombre,luis4@gmail.com
...,...,...,...,...,...,...,...
499995,8/8/23,juan,28011,21/09/1999,0,hombre,juan10@gmail.com
499996,7/2/23,ana,28004,5/12/1960,1,mujer,ana3@gmail.com
499997,12/1/23,miguel,28003,7/09/1980,0,hombre,miguel2@gmail.com
499998,4/4/23,carlos,28007,10/11/1989,2,hombre,carlos6@gmail.com
499999,15/02/23,eva,28002,5/02/1996,3,mujer,eva1@gmail.com

In [19]:
usuarios_df.to_csv("usuarios_bd.csv",index=False)