In [1]:
import pandas as pd
import numpy as np

In [2]:
fecha = (['23/1/2023','15/02/23','12/1/23','7/2/23','26/2/23', '1/03/23'])
nombres = ['andres','eva','miguel','ana','luis', 'jacinto']
transporte = ['coche','autobus','coche','a pie','metro', 'bici']
tiempo_transporte_m = ['40','15','7','20','25', '15']
cp = ['28006','28016','28002','28001','28014', '28002']
edad = ['22','35','36','42','57', '63']
n_hijos_menores = ['0','3','0','1','1', '0']

In [4]:
df = {
    'fecha': fecha,
    'nombre': nombres,
    'transporte': transporte,
    "tiempo_transporte_m" : tiempo_transporte_m,
    "n_hijos_menores": n_hijos_menores,
    "cp" : cp,
    "edad": edad,
}

In [5]:
usuarios = pd.DataFrame(df)

In [6]:
usuarios

,fecha,nombre,transporte,tiempo_transporte_m,n_hijos_menores,cp,edad
0,23/1/2023,andres,coche,40,0,28006,22
1,15/02/23,eva,autobus,15,3,28016,35
2,12/1/23,miguel,coche,7,0,28002,36
3,7/2/23,ana,a pie,20,1,28001,42
4,26/2/23,luis,metro,25,1,28014,57
5,1/03/23,jacinto,bici,15,0,28002,63

In [9]:
usuarios.to_csv("ejemplo_usuarios.csv",index=False)