In [9]:
import random
from faker import Faker
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [3]:


def generate_unique_database(num_rows):
    """
    Generate a random and unique database.

    Parameters:
        num_rows (int): Number of rows in the database.

    Returns:
        list: A list representing the database with unique rows.
    """
    fake = Faker()
    database = []

    used_names = set()

    for _ in range(num_rows):
        while True:
            name = fake.name()
            if name not in used_names:
                used_names.add(name)
                break

        email = fake.email()
        dob = fake.date_of_birth(minimum_age=18, maximum_age=100).strftime("%Y-%m-%d")
        city = fake.city()

        row = [len(database) + 1, name, email, dob, city]
        database.append(row)

    return database

# Example usage:
num_rows = 500

random_database = generate_unique_database(num_rows)
for row in random_database:
    print(row)

[1, 'Jessica Gonzalez', 'lisa04@example.com', '1965-02-19', 'Vanessafurt']
[2, 'Jonathan Shaw', 'lisa61@example.org', '1972-03-13', 'Danielmouth']
[3, 'Jessica Schaefer', 'ashleymartin@example.org', '1941-02-25', 'South Allisonfort']
[4, 'Michele Turner', 'terry60@example.net', '1998-10-07', 'Aarontown']
[5, 'James Miller', 'hubbardmelissa@example.com', '1951-01-17', 'New Ryan']
[6, 'Michael Alvarez', 'john74@example.com', '1972-12-11', 'South Joseph']
[7, 'Michael Davis', 'roy06@example.com', '1942-10-27', 'New Tammy']
[8, 'Alicia Garza', 'mariapeterson@example.org', '1957-06-02', 'Longside']
[9, 'Douglas Guerrero', 'michelle94@example.org', '1924-11-22', 'Port Lindseyfurt']
[10, 'Gregory Alvarado', 'figueroanicole@example.com', '1948-12-02', 'East Taylorton']
[11, 'Roy Ward', 'jhart@example.org', '1931-03-25', 'Feliciaville']
[12, 'Samantha Patterson', 'karamoyer@example.org', '1968-08-15', 'Elijahmouth']
[13, 'Rebecca Smith', 'carmen63@example.com', '1959-02-14', 'East Mark']
[14, 'Jenna Miller', 'annestephens@example.org', '1942-07-07', 'West Kara']
[15, 'Haley Camacho', 'sallylopez@example.net', '1930-06-30', 'Lake Joshuamouth']
[16, 'Luis Merritt', 'llewis@example.com', '1931-07-30', 'South Lawrencetown']
[17, 'Morgan Norris', 'katiebriggs@example.com', '1964-02-22', 'Clarkbury']
[18, 'Christina Moore', 'jessicadavis@example.com', '1947-02-05', 'Pruittbury']
[19, 'Roberto Cabrera', 'brittany40@example.org', '1962-10-01', 'Raymondstad']
[20, 'Robert Cuevas', 'paul55@example.org', '1981-07-03', 'Jaimeshire']
[21, 'Ryan Gray', 'chambersjoseph@example.net', '2004-06-02', 'Lake Daniellehaven']
[22, 'Charles Hancock', 'sellersbrian@example.com', '1939-12-02', 'Webbton']
[23, 'Lance Richardson', 'linda27@example.org', '1950-04-27', 'Riverabury']
[24, 'Teresa Martinez', 'vmiller@example.org', '1931-08-20', 'West Philip']
[25, 'Dylan Oconnor', 'natasha67@example.org', '1967-09-15', 'Smithberg']
[26, 'Kristin Schwartz', 'jason01@example.org', '1937-11-16', 'Costashire']
[27, 'Reginald Cooper', 'kristin40@example.net', '2004-07-13', 'Port Suzannetown']
[28, 'Amy Mitchell', 'vnguyen@example.org', '1946-10-20', 'Brownhaven']
[29, 'Linda Rocha', 'johnnycollier@example.com', '2003-06-30', 'South Kimberlyview']
[30, 'Jermaine Gordon', 'lewisbonnie@example.net', '1926-05-26', 'Joneston']
[31, 'Ashley Lawrence', 'griffinwendy@example.com', '2001-05-29', 'Brittneyland']
[32, 'Jason Wade', 'nathan08@example.org', '2001-02-05', 'Port Melinda']
[33, 'Joseph Murphy', 'adam80@example.com', '1985-11-29', 'South Kristaland']
[34, 'Susan Garcia', 'nicholaswallace@example.net', '1953-05-10', 'Port Rose']
[35, 'Jeremy Santos', 'jeffcamacho@example.net', '1933-04-29', 'Julieshire']
[36, 'Erin Snyder', 'jacklester@example.com', '1981-10-31', 'Port Robertside']
[37, 'Kristina Malone', 'timothytaylor@example.net', '1959-04-10', 'Carrview']
[38, 'Johnny Bowen', 'brownjessica@example.net', '1995-08-07', 'Tommymouth']
[39, 'Mark Thompson', 'danielpaul@example.com', '1986-08-24', 'Loriville']
[40, 'Wanda Davis', 'grangel@example.com', '1972-04-01', 'Nathanfort']
[41, 'Jose Webb', 'perezkyle@example.com', '1989-05-15', 'South Markberg']
[42, 'Brandon Perry', 'briantanner@example.net', '1999-08-11', 'East Charlesmouth']
[43, 'Sonia Martinez', 'ystewart@example.org', '1957-01-23', 'Port Nicolefort']
[44, 'Holly Knight', 'arivera@example.net', '1923-02-04', 'East Walter']
[45, 'Melissa Dixon', 'susan42@example.net', '1927-11-23', 'New Ginaview']
[46, 'Laura Holmes', 'cwilson@example.org', '2001-01-20', 'Estesport']
[47, 'Lisa Castillo', 'danielleross@example.org', '1963-12-13', 'Port Kylefurt']
[48, 'Tracy Lewis', 'whiteamanda@example.com', '1942-09-19', 'New Theresa']
[49, 'Jennifer Jones', 'ralphdixon@example.net', '1966-02-09', 'Jessicaland']
[50, 'Tonya Scott', 'ghawkins@example.org', '1951-11-26', 'East James']
[51, 'Marc Long', 'joan09@example.com', '1975-01-31', 'Port Brittany']
[52, 'Joyce Allen', 'riverasuzanne@example.com', '2002-05-22', 'Port Danielle']
[53, 'Stephanie Oneill', 'vsullivan@example.com', '2000-01-18', 'Charleneside']
[54, 'Cynthia Smith', 'danielleatkins@example.org', '1926-12-05', 'Nataliebury']
[55, 'Jessica Smith', 'brianflores@example.com', '1948-11-18', 'West Phyllisfort']
[56, 'Misty Armstrong', 'alexandrasanchez@example.net', '1931-08-28', 'Thomaschester']
[57, 'Jennifer Robinson', 'cgibbs@example.org', '1989-06-17', 'Morrisville']
[58, 'Shawn Snyder', 'william13@example.net', '1963-06-29', 'East Jeffreymouth']
[59, 'Micheal Fernandez', 'joelewis@example.net', '1976-01-07', 'Georgemouth']
[60, 'Joshua Herrera Jr.', 'ucaldwell@example.net', '2001-05-31', 'Rodriguezborough']
[61, 'Jesse Robertson', 'caitlin55@example.com', '1960-07-31', 'South Emily']
[62, 'Joel Allen', 'charris@example.com', '2004-10-18', 'North Steven']
[63, 'Sydney Cooper', 'andrewstheodore@example.net', '1931-03-21', 'Dianafurt']
[64, 'Bryan Buck', 'heather60@example.net', '2003-09-04', 'Port Charles']
[65, 'Catherine Hayden', 'nathan16@example.org', '1930-09-27', 'Sharonview']
[66, 'Kimberly Rodriguez', 'jasonhopkins@example.net', '1925-09-05', 'Port Annaview']
[67, 'Monica Howard', 'sanchezjacqueline@example.net', '1967-01-02', 'West Tyler']
[68, 'Robert Wiley', 'haynesjohn@example.com', '1964-06-27', 'Moniqueport']
[69, 'David Cole', 'jasonhoward@example.net', '1951-11-19', 'Lake Kristen']
[70, 'Jessica Davidson', 'gbrown@example.org', '1954-11-09', 'New Stephenstad']
[71, 'Aimee Freeman', 'mossjeremy@example.com', '1964-02-21', 'Tracimouth']
[72, 'David Martinez', 'gailrice@example.com', '1959-04-18', 'Lake Cassandraland']
[73, 'Erin Lindsey', 'george92@example.net', '1923-06-29', 'East Matthew']
[74, 'Kristine Hernandez', 'kathrynholmes@example.org', '1954-03-23', 'North Taraview']
[75, 'Manuel Hodge', 'xhoward@example.org', '1926-07-04', 'Mooreborough']
[76, 'Katie Robinson', 'catherinebowen@example.com', '2001-11-15', 'Youngburgh']
[77, 'Jerry Skinner', 'garyhernandez@example.com', '1995-08-17', 'North Jamestown']
[78, 'Marilyn Murillo', 'smithjulia@example.org', '1952-03-10', 'Margaretchester']
[79, 'James Carney', 'qowens@example.org', '1999-12-01', 'South Melissa']
[80, 'Samantha Fox', 'stephanie60@example.com', '1952-06-03', 'Richardsonborough']
[81, 'Daniel Pham', 'rodrigueztara@example.net', '1984-09-11', 'Sanchezshire']
[82, 'Scott Bell', 'larry48@example.org', '2004-12-30', 'Lake Julie']
[83, 'Mary Lopez', 'juanpetty@example.com', '1926-03-19', 'South Brianstad']
[84, 'Amber Moore', 'amyjohnson@example.net', '1994-03-23', 'Trevorport']
[85, 'Michelle Espinoza', 'christopherwilson@example.org', '1940-05-09', 'Ortegaville']
[86, 'Jason Little', 'garrisonkaitlin@example.com', '1982-07-09', 'Port Walterstad']
[87, 'Alyssa Robinson', 'thomasmoss@example.com', '1978-05-25', 'North Ashley']
[88, 'Alison Schultz', 'alan62@example.org', '1935-12-02', 'Port Marcusfurt']
[89, 'Jennifer Lee', 'harristhomas@example.net', '1941-12-15', 'New Christopherfurt']
[90, 'Carla Barnett', 'otaylor@example.org', '1961-02-16', 'Charleshaven']
[91, 'Jesus Castaneda', 'emueller@example.org', '1984-08-20', 'West Johnfurt']
[92, 'Donald Briggs', 'rebecca51@example.com', '1956-09-21', 'Lake Nicole']
[93, 'Kevin Stevens', 'rmorgan@example.net', '1979-08-26', 'South Daniel']
[94, 'Walter Thomas', 'westtracy@example.com', '1961-01-05', 'Woodhaven']
[95, 'Jacob Pierce', 'lsmith@example.org', '1971-07-30', 'Pittmanborough']
[96, 'Sheri Wright', 'douglas72@example.com', '1979-07-17', 'South Amber']
[97, 'Michael Montgomery', 'lee96@example.net', '1938-11-19', 'New Andrew']
[98, 'Kelly Archer', 'andrew93@example.com', '1939-04-29', 'Port Daniel']
[99, 'Raymond Stone', 'sarah35@example.com', '1956-01-04', 'Lewisbury']
[100, 'Todd Cruz', 'igonzalez@example.org', '1989-10-31', 'Thompsonhaven']
[101, 'Brandi Hooper', 'raven70@example.com', '1966-10-09', 'Kimberlyberg']
[102, 'Cassandra Nelson', 'shermanrachel@example.net', '1973-05-12', 'Davidhaven']
[103, 'Mario Cole', 'jefferybauer@example.net', '2001-07-04', 'North James']
[104, 'Jason Brown', 'garygill@example.net', '1926-10-17', 'Manueltown']
[105, 'Marc Jones', 'plewis@example.com', '1945-12-19', 'Ericfort']
[106, 'Christopher Miller', 'allendylan@example.net', '1926-04-30', 'Kleinfort']
[107, 'Anthony Simpson', 'vincent45@example.org', '1927-04-27', 'Elizabethport']
[108, 'Laura Thomas', 'adamwells@example.com', '1991-08-20', 'Wongfurt']
[109, 'Timothy Taylor', 'judyhester@example.net', '1956-08-26', 'North Lorrainemouth']
[110, 'John Gibson', 'kmartin@example.com', '1977-08-31', 'Meganport']
[111, 'Mr. Jerry Adams', 'olsonpaul@example.org', '1963-09-20', 'Dixontown']
[112, 'Elizabeth Olson', 'breynolds@example.net', '1966-02-26', 'Villarrealmouth']
[113, 'Wanda Patterson', 'vporter@example.org', '1978-11-09', 'Port Steven']
[114, 'Mackenzie Garcia', 'jonathanramsey@example.com', '1937-08-16', 'West Michelleland']
[115, 'Amber Owens', 'mbaker@example.org', '1975-12-17', 'Zacharyland']
[116, 'Trevor Davis', 'shawlaura@example.net', '1947-07-10', 'North Andrew']
[117, 'Angela Moyer', 'donaldhood@example.net', '1925-06-18', 'Schwartzton']
[118, 'Daniel Owens', 'vrice@example.net', '1932-10-16', 'South Kyle']
[119, 'Joseph Oneal', 'wyattbrandon@example.com', '1940-12-22', 'Howardbury']
[120, 'Samantha Williams', 'lindseyphillips@example.com', '1942-05-03', 'Lake Chadport']
[121, 'Richard Gonzalez', 'avasquez@example.org', '1960-09-07', 'Thomaschester']
[122, 'Robert Wang', 'michael35@example.org', '1949-01-15', 'Hendersonshire']
[123, 'Mr. Daniel Kaufman', 'kelly72@example.org', '1967-07-14', 'Paceberg']
[124, 'Bryan Schmidt', 'nkelly@example.org', '1951-03-27', 'West Keith']
[125, 'Ryan Ortega', 'bonnierivas@example.com', '1972-05-03', 'South Andreabury']
[126, 'Lorraine Wells', 'wangtina@example.net', '1938-07-04', 'East Erin']
[127, 'Gregory White', 'denise84@example.org', '1977-02-21', 'North Debrafurt']
[128, 'Adam Holland', 'april19@example.com', '1949-09-16', 'New Michaelfort']
[129, 'Jacob Robinson', 'kariramirez@example.com', '1926-06-17', 'Kennethside']
[130, 'Daniel Cardenas', 'landrysydney@example.org', '1934-10-19', 'Lake Tracystad']
[131, 'Jessica Werner', 'johnsonjoanna@example.com', '1934-05-22', 'North Brandonview']
[132, 'Melissa Mccarty', 'stuartkatrina@example.com', '1944-08-20', 'West Jenniferborough']
[133, 'Jennifer Ford', 'brent53@example.com', '1943-12-02', 'West Leslie']
[134, 'William Anderson', 'dylanmacias@example.com', '1951-04-27', 'East Whitneybury']
[135, 'Katherine Calderon', 'aandrews@example.org', '1943-05-17', 'East Davidberg']
[136, 'Pam Smith', 'fhernandez@example.com', '1941-11-07', 'Lawrencechester']
[137, 'Jasmine Richard', 'nunezjoshua@example.net', '1936-08-16', 'Aprilton']
[138, 'Marcus Shaffer', 'alexisgarner@example.org', '1986-01-18', 'Port Jeremyberg']
[139, 'Michael Butler', 'amanda39@example.org', '1964-08-02', 'East Frank']
[140, 'Dawn Moore', 'sheltonashley@example.com', '1952-11-12', 'Lake Lukeport']
[141, 'Sean Warren', 'lisasullivan@example.net', '1952-11-24', 'Port Ashleystad']
[142, 'Thomas Hoffman', 'ekelly@example.net', '1978-06-13', 'East Justin']
[143, 'Elizabeth Wright', 'sweeks@example.net', '1933-03-08', 'New Adamside']
[144, 'Lori Garcia', 'michael32@example.org', '1949-03-17', 'Garciaside']
[145, 'David Clements', 'cooperkenneth@example.org', '1966-01-27', 'New Ralphport']
[146, 'Corey Brown', 'mike10@example.net', '1957-11-19', 'Cynthiaborough']
[147, 'Paul Rice', 'carterspencer@example.net', '1922-09-07', 'Aaronberg']
[148, 'Michelle Fitzpatrick', 'mprice@example.net', '1980-08-06', 'Thomasbury']
[149, 'Jennifer Werner', 'walshjerry@example.org', '1986-02-10', 'Parkerbury']
[150, 'Christina Henderson', 'ashley15@example.com', '1968-07-11', 'Pattersonberg']
[151, 'Brian Anderson', 'tylerdixon@example.net', '1985-02-15', 'Lake Brianland']
[152, 'Sandra Anderson', 'hcole@example.com', '1969-05-07', 'New Martha']
[153, 'Maria Sanchez', 'velasquezjessica@example.org', '1992-01-13', 'Lindafort']
[154, 'Jessica Davis', 'gvasquez@example.com', '1926-08-29', 'New Jason']
[155, 'Amanda Nguyen', 'dillonturner@example.org', '2002-04-26', 'Garciaton']
[156, 'Kelly Dodson', 'williefreeman@example.net', '1958-01-10', 'Lake Jason']
[157, 'Elizabeth Floyd', 'dean11@example.org', '1954-04-17', 'South Robert']
[158, 'Timothy Diaz', 'pwilson@example.org', '2004-02-12', 'Tammiestad']
[159, 'Christopher King', 'ahowe@example.net', '1928-05-17', 'South Gregorychester']
[160, 'Jacqueline Taylor', 'jacobherrera@example.net', '1988-12-16', 'Lake Ericstad']
[161, 'Cynthia Clark', 'taylorjose@example.net', '1949-04-29', 'Katrinaborough']
[162, 'Amy Young', 'fsalinas@example.net', '1953-01-11', 'North Amandaside']
[163, 'Teresa Keith', 'stephaniesimmons@example.com', '1956-02-02', 'Barkerstad']
[164, 'Kari Bennett', 'amanda40@example.com', '1971-08-04', 'Stanleyville']
[165, 'Sandra Bass', 'hmartinez@example.org', '1934-08-14', 'Snyderburgh']
[166, 'Melissa Conner', 'garyschwartz@example.com', '1937-01-03', 'West Evanberg']
[167, 'Lauren Copeland', 'rschmitt@example.org', '1933-09-02', 'Lake Colleenfort']
[168, 'Katherine Weaver', 'victoria68@example.net', '1951-01-15', 'East Brittanyburgh']
[169, 'Jessica Thompson', 'tgarcia@example.com', '1924-08-31', 'Nathanielhaven']
[170, 'David Rodriguez', 'glenn42@example.org', '1962-10-12', 'Robbinstown']
[171, 'Heather Hayes', 'russelljoanne@example.org', '1983-06-23', 'South Lindseyton']
[172, 'David Smith', 'jessicahurley@example.com', '1985-02-04', 'Amberchester']
[173, 'Erika Ortega', 'ymendez@example.com', '1996-04-14', 'East Nicoleborough']
[174, 'Christopher Anderson', 'holmesjoshua@example.net', '1973-03-31', 'Danielschester']
[175, 'Vicki Wong', 'solislisa@example.org', '1977-11-29', 'West Marychester']
[176, 'Cynthia Ingram', 'fordcharles@example.com', '1970-01-01', 'Mariahburgh']
[177, 'Kelly Robinson', 'rodriguezkristopher@example.org', '1954-11-09', 'Shawnside']
[178, 'Alex Graham', 'berrytammy@example.com', '1967-10-04', 'North Stephenfort']
[179, 'Thomas Cohen', 'stevenlong@example.com', '1974-02-06', 'Danielborough']
[180, 'Michael Edwards', 'angela44@example.com', '1994-05-14', 'Danielfurt']
[181, 'James Rasmussen', 'daniel27@example.com', '1991-02-17', 'Phamshire']
[182, 'Justin Russell', 'harrisonholly@example.com', '1994-06-28', 'Adamsborough']
[183, 'Kyle Everett', 'williamwilson@example.org', '2005-07-23', 'Kellytown']
[184, 'Laura Sanchez', 'heather80@example.com', '1956-06-28', 'Melindaburgh']
[185, 'Erica Stewart', 'mark26@example.org', '1977-06-14', 'Stephanieburgh']
[186, 'Michelle Kaufman', 'cindyjames@example.com', '2002-05-09', 'Katiebury']
[187, 'Mary Gross', 'obrown@example.net', '1959-06-07', 'Patriciaberg']
[188, 'Katherine Howell', 'john75@example.com', '1936-05-19', 'Jacksonshire']
[189, 'Barry Wagner', 'william33@example.com', '1932-02-11', 'West Anthonymouth']
[190, 'Joy Ramos', 'wernerbrooke@example.org', '1980-01-21', 'Stephaniemouth']
[191, 'Jacob Garcia', 'timothystewart@example.com', '1943-03-31', 'Lake Peter']
[192, 'Daniel Scott', 'crawfordmichael@example.com', '1937-04-14', 'Lake Kathleen']
[193, 'Logan Cox', 'tammy10@example.net', '1943-08-18', 'Rebeccaberg']
[194, 'Timothy Williams', 'churchrobert@example.net', '1964-07-04', 'Melanieville']
[195, 'Malik Reeves', 'william97@example.com', '1929-10-28', 'New Samuel']
[196, 'John Guzman', 'williamsamber@example.com', '1964-05-08', 'Kennedyton']
[197, 'Henry Adams', 'wattsamy@example.com', '1947-08-18', 'Kimberlyshire']
[198, 'Nicholas Watts Jr.', 'xreilly@example.net', '1959-02-26', 'Nancychester']
[199, 'Ryan Lee', 'kathryncarpenter@example.net', '1942-03-30', 'Smithmouth']
[200, 'Adam Wilson', 'ycastillo@example.net', '1970-03-24', 'Smithberg']
[201, 'Vanessa Jordan MD', 'meghancarpenter@example.com', '1940-02-28', 'South Dawn']
[202, 'Colleen Vargas', 'xkelly@example.net', '1938-11-13', 'North Robert']
[203, 'Rachel Thomas', 'robbinsjenna@example.net', '1952-11-17', 'Rachaelbury']
[204, 'Amber Booker', 'jonathan61@example.com', '1938-11-03', 'East Jeffrey']
[205, 'Michelle Martinez', 'mary72@example.com', '1927-07-07', 'Turnerport']
[206, 'Christine Elliott', 'john51@example.com', '1964-04-30', 'New Glenfort']
[207, 'Todd Perez', 'browncrystal@example.com', '1946-04-03', 'New James']
[208, 'Michelle Green', 'christopher31@example.com', '1951-08-27', 'Brownhaven']
[209, 'Christopher Mcintyre', 'thomassmith@example.com', '1947-12-22', 'East Ronnie']
[210, 'Dana Shaw', 'megan49@example.org', '1983-04-19', 'Smithland']
[211, 'Annette Ryan', 'sharon01@example.net', '1954-06-28', 'South Chasestad']
[212, 'Jocelyn Martin', 'jamescooke@example.net', '1964-08-29', 'Michaelborough']
[213, 'Ashley Johnson', 'karenmadden@example.com', '2004-11-07', 'Mcdonaldview']
[214, 'Kathy Edwards', 'zgalloway@example.net', '2001-05-31', 'Lake Kelly']
[215, 'Mrs. Donna Cobb', 'gstephens@example.org', '1952-08-12', 'Tanyaview']
[216, 'Joshua Clark', 'hudsonkimberly@example.org', '1974-08-21', 'South Annborough']
[217, 'John Kane', 'enavarro@example.net', '1988-09-21', 'South Ashley']
[218, 'Greg Ramos', 'amandashannon@example.org', '1957-07-19', 'Lake Kimberlyborough']
[219, 'Brian Crawford', 'bsmith@example.org', '1942-10-07', 'North Mary']
[220, 'Michael Young', 'steven97@example.net', '1979-03-05', 'East Caseyburgh']
[221, 'Joseph Christensen', 'fletcherbrandon@example.com', '1930-10-06', 'Patrickmouth']
[222, 'Vanessa Simmons', 'krodriguez@example.net', '1989-08-28', 'Valenzuelatown']
[223, 'Denise Levy', 'kelseyhernandez@example.org', '1944-01-30', 'South Clayton']
[224, 'Tiffany Wise', 'hebertdawn@example.com', '1998-09-14', 'South Allison']
[225, 'Kathy Salas', 'amygarner@example.org', '1973-03-27', 'Serranoton']
[226, 'Lucas Diaz', 'crystalsmith@example.com', '1935-04-17', 'Richtown']
[227, 'Morgan Spencer', 'davisjeffery@example.net', '1940-07-07', 'North John']
[228, 'Robert Shields', 'matthewsutton@example.org', '1967-07-13', 'Michaelmouth']
[229, 'Janet Wells', 'pprince@example.net', '1941-04-02', 'New Madison']
[230, 'Juan Alvarado', 'kimberlyfrazier@example.org', '2002-10-01', 'Lake Laurastad']
[231, 'Hunter Porter', 'christianjonathan@example.org', '1962-05-21', 'North Brandonshire']
[232, 'Karen Mitchell', 'cindybutler@example.com', '1938-03-15', 'New Bradyville']
[233, 'Destiny Jordan', 'davidpratt@example.org', '1989-05-13', 'Nelsonberg']
[234, 'Brian Mahoney', 'ramoskelly@example.net', '1933-02-11', 'North Lisaland']
[235, 'Danielle Chen', 'epalmer@example.com', '1969-03-06', 'Clarkfurt']
[236, 'Lori Aguilar', 'tommyclay@example.com', '1935-07-28', 'North Julie']
[237, 'Amanda Miller', 'rhughes@example.org', '1979-09-01', 'Thompsonmouth']
[238, 'Leslie Campbell', 'ronald95@example.org', '1993-11-03', 'West Patricia']
[239, 'Kathleen Campbell', 'zedwards@example.net', '1936-12-15', 'Keithport']
[240, 'Theresa Cunningham', 'amber20@example.org', '1995-04-07', 'New Nancy']
[241, 'Sarah Miles', 'ucook@example.com', '1967-10-09', 'Romeroberg']
[242, 'Harry Pierce', 'tonywallace@example.com', '1942-10-13', 'Chaseshire']
[243, 'Patricia Lynn', 'lauren99@example.net', '2001-12-16', 'Moranton']
[244, 'Candice Morris MD', 'shortmichael@example.org', '1952-05-14', 'Travisburgh']
[245, 'Kelly Durham', 'timothyhicks@example.org', '1980-01-09', 'New Clairefurt']
[246, 'Kayla Johnson', 'farmergreg@example.net', '1972-11-07', 'New Stevenfurt']
[247, 'Jacqueline Campbell', 'hendersonjermaine@example.net', '1984-09-06', 'West James']
[248, 'Jacqueline Mann', 'amandacarpenter@example.com', '2001-01-25', 'North Jacquelinefort']
[249, 'Michael Whitney', 'erice@example.com', '1924-04-22', 'Amymouth']
[250, 'Christine Rodriguez', 'stewartnathaniel@example.org', '1979-11-13', 'Wattsstad']
[251, 'Karen Jacobs', 'hansondrew@example.com', '1985-04-05', 'Jessicaborough']
[252, 'Peter Mayo', 'parsonserica@example.net', '1961-07-24', 'West Ralph']
[253, 'Scott Gould', 'stephen90@example.org', '1955-09-09', 'Port Francesside']

In [4]:
def generate_unique_database(num_rows):
    """
    Generate a random and unique database.

    Parameters:
        num_rows (int): Number of rows in the database.

    Returns:
        list: A list representing the database with unique rows.
    """
    fake = Faker()
    database = []

    used_names = set()

    for _ in range(num_rows):
        while True:
            name = fake.name()
            if name not in used_names:
                used_names.add(name)
                break

        email = fake.email()
        dob = fake.date_of_birth(minimum_age=18, maximum_age=100).strftime("%Y-%m-%d")
        city = fake.city()

        row = [len(database) + 1, name, email, dob, city]
        database.append(row)

    return database

# Example usage:
num_rows = 500

random_database = generate_unique_database(num_rows)

# Convert the list of lists into a DataFrame
columns = ["ID", "Name", "Email", "Date of Birth", "City"]
df = pd.DataFrame(random_database, columns=columns)

# Print the DataFrame
print(df)

      ID                 Name                     Email Date of Birth  \
0      1         Kevin Mendez  jeffreylewis@example.net    1972-07-29
1      2       Nancy Reynolds           kyu@example.net    1958-11-13
2      3         Natalie Reed      connor16@example.com    1962-07-30
3      4  Alejandro Dominguez      vbenitez@example.com    1966-11-07
4      5       Alicia Jimenez    wellskaren@example.net    1988-03-24
..   ...                  ...                       ...           ...
495  496          Devon Smith        paul30@example.org    1942-10-22
496  497          Susan Bruce       oscar74@example.org    1965-07-03
497  498         Traci Harris        jbaker@example.com    1985-11-26
498  499       Kathryn Bishop      nicole62@example.org    1943-06-08
499  500    Mr. Jason Coleman      edward29@example.net    1984-04-19

                  City
0       Port Dianabury
1            Johnmouth
2     West Gregoryfurt
3            Lake Mike
4          Nicholsberg
..                 ...
495       Goodwinburgh
496     East Katherine
497         Port Tyler
498  North Charlesview
499     Port Ritamouth

[500 rows x 5 columns]

In [3]:
def generate_unique_database(num_rows):
    """
    Generate a random and unique database.

    Parameters:
        num_rows (int): Number of rows in the database.

    Returns:
        list: A list representing the database with unique rows.
    """
    fake = Faker()
    database = set()  # Using a set to ensure uniqueness of rows

    while len(database) < num_rows:
        fecha = fake.date_of_birth(minimum_age=18, maximum_age=100).strftime("%Y-%m-%d")
        nombre = fake.name()
        cp = fake.postcode()
        edad = random.randint(18, 100)
        n_hijos_menores = random.randint(0, 5)
        sexo = random.choice(["M", "F"])
        email = fake.email()
        
        row = (fecha, nombre, cp, edad, n_hijos_menores, sexo, email)
        database.add(row)

    return list(database)

# Example usage:
num_rows = 500

random_database = generate_unique_database(num_rows)
for row in random_database:
    print(row)

('1962-11-18', 'Jenna Waters', '45689', 43, 4, 'F', 'jpittman@example.net')
('1971-06-01', 'Gene Berg', '76927', 46, 3, 'M', 'fergusonjoseph@example.com')
('1976-12-08', 'Peter Day', '05756', 36, 5, 'M', 'xanderson@example.com')
('2004-03-17', 'Mary Norman', '73407', 27, 5, 'F', 'bryantmadeline@example.org')
('1957-05-15', 'Carrie Ramirez', '86664', 19, 4, 'F', 'dillongomez@example.org')
('1947-11-06', 'Erica Preston', '68458', 32, 0, 'F', 'johnwilliams@example.com')
('1923-01-05', 'Stephen Sanders', '64910', 97, 4, 'M', 'sstewart@example.net')
('1929-03-15', 'Yolanda Rogers', '03730', 83, 5, 'M', 'matthew90@example.net')
('1995-06-14', 'Kathryn Wilson', '76294', 44, 3, 'M', 'christopher61@example.org')
('1990-02-17', 'Sharon Park', '61095', 96, 2, 'F', 'james03@example.com')
('1932-06-30', 'Mr. Thomas Washington', '86195', 46, 3, 'F', 'todd63@example.net')
('1960-12-16', 'Tara Owens', '14462', 59, 4, 'M', 'zcochran@example.com')
('1947-09-14', 'Michael Brown', '63178', 41, 3, 'F', 'samantha00@example.org')
('1969-10-17', 'Eric Williams', '58049', 48, 3, 'M', 'lucasmanuel@example.org')
('1938-09-01', 'Lisa Davidson', '84172', 24, 5, 'F', 'obrowning@example.com')
('1978-04-05', 'Kenneth Marsh', '99305', 85, 4, 'F', 'susanestrada@example.com')
('1979-06-23', 'James Ford', '66794', 72, 3, 'M', 'sylvia02@example.com')
('1995-06-08', 'Jasmine White', '49467', 59, 3, 'F', 'nnelson@example.net')
('1923-03-23', 'Gabrielle Smith', '83610', 87, 1, 'F', 'wrightkara@example.com')
('1923-02-22', 'Sabrina Cooper', '51713', 21, 3, 'M', 'mdillon@example.net')
('1964-04-13', 'Nathan Williams', '80570', 74, 3, 'F', 'hunter94@example.com')
('1967-03-30', 'Chad Nguyen', '64678', 39, 3, 'M', 'stephenstheresa@example.org')
('1962-11-10', 'Andrew Robinson', '19990', 57, 1, 'F', 'dmcintyre@example.org')
('1999-06-22', 'Jackie Armstrong', '36733', 35, 5, 'F', 'agarcia@example.com')
('2002-10-01', 'Yolanda Burke', '87058', 55, 5, 'F', 'guzmanlauren@example.net')
('1972-08-27', 'Nicole Gray', '18588', 99, 5, 'M', 'lopezdavid@example.com')
('1958-10-15', 'Michele Lane', '49721', 66, 1, 'M', 'christopher69@example.net')
('1927-02-08', 'Michael Hansen', '37377', 46, 5, 'F', 'jbriggs@example.com')
('1955-02-11', 'Raymond Jones', '07723', 30, 2, 'F', 'stonerobert@example.net')
('1966-10-18', 'Daniel Franco', '94952', 68, 4, 'M', 'sgomez@example.net')
('1978-10-19', 'Richard Williams', '74355', 57, 2, 'F', 'christopher90@example.com')
('1957-03-01', 'Clayton Harrington', '32833', 79, 3, 'F', 'tmiller@example.org')
('1939-09-26', 'Tammie Jones', '42723', 98, 2, 'F', 'uadams@example.net')
('1929-03-06', 'Sarah Hobbs', '31936', 27, 3, 'F', 'melissa83@example.net')
('1964-02-09', 'Heather Fleming', '74858', 98, 0, 'F', 'henryhanson@example.com')
('1998-11-28', 'Aaron Garza', '40828', 88, 0, 'M', 'rdavis@example.com')
('2002-08-09', 'Aaron Odom', '32039', 44, 3, 'F', 'williamhayes@example.net')
('1981-03-14', 'Dawn Carpenter', '90657', 94, 5, 'M', 'thomasmelissa@example.net')
('1978-12-21', 'Sarah Brooks', '70536', 81, 3, 'M', 'nsmith@example.org')
('1932-08-17', 'Karen Wong', '44111', 70, 2, 'F', 'qmccoy@example.net')
('1984-04-08', 'Lori Davis', '80978', 43, 1, 'F', 'christinewood@example.net')
('1964-07-28', 'Richard Reynolds', '53811', 64, 0, 'F', 'tsmith@example.net')
('1983-09-04', 'Maria Rodriguez', '34716', 45, 0, 'F', 'xhernandez@example.com')
('1975-05-23', 'Howard Reed', '86294', 89, 1, 'F', 'hoffmanmatthew@example.net')
('1970-03-08', 'Andrew Fischer', '52439', 55, 0, 'F', 'bishopdeborah@example.org')
('1981-05-08', 'Katherine Brooks', '54666', 26, 4, 'M', 'evansstephen@example.net')
('1944-12-17', 'Jacob Meyer', '28534', 32, 3, 'M', 'erogers@example.net')
('1935-12-22', 'Elizabeth Delgado', '11700', 29, 1, 'F', 'melissa69@example.com')
('1998-06-10', 'Paul Ross', '52447', 22, 5, 'M', 'williamsbrian@example.org')
('1977-03-12', 'Victoria Jimenez', '33495', 27, 5, 'F', 'heatherfowler@example.org')
('2000-04-11', 'Matthew Webb', '61656', 87, 0, 'F', 'valeriepoole@example.org')
('1984-01-31', 'Kimberly Murphy', '05708', 23, 2, 'F', 'kellyscott@example.com')
('2002-09-14', 'Sherri Shelton', '91707', 38, 4, 'M', 'wileyaaron@example.com')
('1964-08-16', 'Scott Campbell', '16969', 57, 1, 'M', 'hramos@example.net')
('1980-11-24', 'Brittany Bradley', '64001', 34, 3, 'F', 'emily68@example.org')
('1975-09-11', 'Kaitlin Barber', '15220', 91, 0, 'M', 'wilkinshailey@example.net')
('1970-09-03', 'Antonio Graham', '30615', 71, 3, 'M', 'brian30@example.com')
('1966-11-07', 'Seth Bennett', '79689', 43, 4, 'F', 'derekcohen@example.org')
('1980-11-22', 'Aaron Johnson', '55950', 40, 5, 'F', 'mccallkelly@example.net')
('1973-12-03', 'Andrew Contreras', '43648', 74, 5, 'M', 'tgonzales@example.net')
('1971-11-20', 'Adam Johnson', '35447', 30, 2, 'M', 'adamsjessica@example.net')
('1924-04-11', 'Emily Castillo', '53581', 54, 2, 'F', 'sparsons@example.org')
('2004-08-25', 'Nicole Roman', '12018', 72, 4, 'F', 'cgilmore@example.org')
('1937-09-20', 'Brianna Johnson', '52052', 50, 4, 'M', 'obriennathan@example.org')
('1930-01-08', 'Tara Clements', '96316', 74, 2, 'M', 'kserrano@example.net')
('1945-04-20', 'Shawn Guerra', '02879', 23, 5, 'M', 'joanlawrence@example.org')
('1942-08-12', 'Suzanne Martin', '35188', 40, 5, 'M', 'olivia58@example.net')
('1995-06-11', 'Amber Watson', '08495', 40, 5, 'M', 'claireanderson@example.com')
('1960-11-11', 'Jeremy Estes', '46333', 92, 3, 'F', 'kimrobert@example.net')
('1975-06-04', 'James Johnson', '73590', 87, 5, 'M', 'williamjennings@example.com')
('1970-02-15', 'John Mcmillan', '72928', 64, 2, 'M', 'misty12@example.com')
('1948-11-16', 'Laura Alvarez', '76159', 90, 0, 'F', 'juliemccormick@example.org')
('1963-10-22', 'Sheila Hernandez', '97287', 67, 1, 'M', 'elizabeth10@example.com')
('1990-03-26', 'Michael French', '46995', 65, 1, 'F', 'eric72@example.net')
('1954-08-26', 'Glenn Sanchez', '32682', 41, 1, 'M', 'lanemichael@example.net')
('1965-03-26', 'Anthony Cox', '93000', 48, 5, 'F', 'kimpacheco@example.org')
('1949-08-21', 'Laura Foster', '38635', 44, 3, 'F', 'imitchell@example.com')
('1945-03-09', 'Lisa Olson', '03002', 66, 3, 'M', 'michaeltrevino@example.org')
('2005-06-27', 'Allison Scott', '30318', 57, 3, 'F', 'frostmisty@example.com')
('1922-08-19', 'Brenda Schneider', '75605', 88, 0, 'F', 'tracymills@example.com')
('1947-08-18', 'William Miller', '86023', 23, 3, 'M', 'deborah81@example.com')
('2000-07-12', 'Amber Valencia', '11566', 22, 2, 'M', 'timothyfrench@example.net')
('2000-03-21', 'Laura Martinez', '64646', 30, 0, 'F', 'joshua45@example.org')
('1973-03-30', 'Matthew Nunez', '79978', 81, 3, 'M', 'mwalker@example.com')
('1989-01-07', 'Joseph Peters MD', '05057', 23, 5, 'F', 'lopezmary@example.net')
('1967-03-13', 'Michael Black', '51327', 31, 1, 'M', 'markparker@example.org')
('1939-08-15', 'Christine Hines', '59873', 19, 5, 'F', 'michelleellis@example.net')
('1998-06-19', 'Phillip Allen', '02838', 68, 2, 'F', 'debra01@example.net')
('1968-10-05', 'Pamela Lewis', '15657', 25, 0, 'M', 'kristinaclayton@example.net')
('1926-11-17', 'Michael Johnson', '32844', 44, 0, 'F', 'brian62@example.com')
('1980-07-11', 'Rodney Frye', '17768', 53, 4, 'F', 'gavindecker@example.org')
('1968-12-09', 'Amy Lewis', '60028', 47, 2, 'M', 'vmorris@example.com')
('1927-05-07', 'Mark Smith', '56485', 63, 4, 'M', 'elizabeth23@example.org')
('1923-02-06', 'Mariah King', '28124', 34, 0, 'F', 'rsmith@example.com')
('1924-09-04', 'Kyle Brooks', '71930', 70, 2, 'F', 'shermanhaley@example.org')
('1996-04-23', 'Heather Davidson', '13274', 55, 2, 'F', 'inewman@example.net')
('1946-10-24', 'John Stevenson', '59011', 69, 2, 'M', 'danielbender@example.org')
('1971-11-07', 'Carolyn Thompson', '71859', 99, 0, 'M', 'thomas98@example.net')
('1955-11-10', 'Lisa Evans', '40271', 19, 4, 'F', 'donallen@example.net')
('1931-09-22', 'Alexander Torres', '44557', 92, 3, 'F', 'pstewart@example.org')
('1994-08-21', 'Lauren Thomas', '37620', 64, 1, 'F', 'garciamary@example.com')
('1993-01-11', 'Kimberly Powers', '07560', 21, 0, 'M', 'agray@example.org')
('1982-04-26', 'Melanie Caldwell', '01472', 42, 1, 'M', 'vcalhoun@example.com')
('1962-06-17', 'Allen Martinez', '86119', 69, 3, 'F', 'pclayton@example.com')
('2001-04-30', 'Christian Davis', '78829', 86, 2, 'M', 'curtis95@example.com')
('1982-05-14', 'Logan Daniels', '18854', 61, 5, 'M', 'kyle18@example.org')
('1923-05-18', 'Jaime Daniels', '44859', 54, 2, 'F', 'kyle92@example.net')
('1931-08-15', 'Jessica Mitchell', '12824', 61, 1, 'F', 'michelle41@example.com')
('1982-04-05', 'Rachel Blackburn', '08355', 53, 2, 'F', 'gabrieldunn@example.com')
('2001-10-31', 'Jodi Rice', '40009', 43, 5, 'F', 'jwashington@example.net')
('1999-07-22', 'Christina Roberts', '61899', 99, 3, 'F', 'johnzhang@example.net')
('1938-04-01', 'Dustin Smith', '29240', 64, 5, 'M', 'wjohns@example.net')
('1968-06-18', 'Jeff Davidson', '12084', 34, 3, 'M', 'jhernandez@example.org')
('1948-04-19', 'Leah Morton', '50343', 38, 5, 'F', 'ssilva@example.net')
('1923-01-03', 'Matthew Johnson', '17604', 47, 0, 'F', 'millerhayley@example.com')
('1960-10-10', 'Harold Clements', '30139', 87, 1, 'F', 'muellerjoseph@example.net')
('1991-11-07', 'Joshua Spencer', '94689', 90, 1, 'M', 'fdickson@example.com')
('1977-06-24', 'Mr. Ian Clark', '79638', 64, 5, 'F', 'mharris@example.net')
('1985-09-01', 'Adam Snyder', '22200', 59, 0, 'F', 'edward90@example.com')
('1952-03-10', 'Heidi Russo', '23380', 67, 3, 'F', 'meaganwatkins@example.com')
('1974-07-24', 'Jocelyn Hicks', '67558', 59, 1, 'M', 'fryanna@example.org')
('1986-10-12', 'Cynthia Shepherd', '11927', 56, 0, 'M', 'jgreene@example.net')
('1986-08-11', 'Todd Alvarado', '74717', 64, 2, 'F', 'reynoldstiffany@example.com')
('1983-03-18', 'Desiree Bailey', '01762', 65, 5, 'M', 'oruiz@example.net')
('1974-09-03', 'Anne Nelson', '68251', 83, 2, 'M', 'gutierrezcharles@example.net')
('1940-04-08', 'Chelsea Durham', '15255', 59, 5, 'F', 'deanna61@example.com')
('1970-06-17', 'Jennifer Farmer', '44250', 62, 5, 'F', 'williammendoza@example.net')
('1962-08-29', 'Margaret Mercer', '67144', 93, 3, 'F', 'bprice@example.org')
('1953-01-20', 'Sherry Moore', '48629', 94, 2, 'F', 'qriddle@example.com')
('1986-06-11', 'James Lee', '37407', 58, 5, 'F', 'fbowman@example.com')
('1953-08-06', 'Kenneth Nguyen', '40232', 85, 4, 'F', 'john07@example.com')
('1958-11-15', 'Zachary Lopez', '62504', 60, 0, 'F', 'sherry19@example.net')
('1991-01-05', 'Mr. Jordan Rodriguez DDS', '81463', 83, 2, 'F', 'adrienne71@example.net')
('1969-09-19', 'Christian Simmons', '33033', 19, 1, 'F', 'peter76@example.org')
('1932-10-08', 'Michael Lee', '71250', 26, 1, 'M', 'ktaylor@example.org')
('1941-07-16', 'Andre Cruz', '60054', 92, 1, 'F', 'donna20@example.com')
('1994-04-12', 'Matthew Tanner', '50018', 48, 5, 'M', 'holmesjeffrey@example.com')
('1945-01-24', 'Tiffany Cook', '64488', 20, 0, 'F', 'christinejones@example.org')
('1931-02-19', 'Cynthia Richards', '50306', 91, 4, 'F', 'brooksjennifer@example.org')
('1986-03-20', 'Peter Lowe', '55248', 61, 4, 'M', 'dylan97@example.org')
('1999-02-28', 'Diane Hampton', '99915', 89, 5, 'M', 'kpatel@example.com')
('1976-03-30', 'Susan Garza', '28740', 96, 0, 'M', 'wongtimothy@example.com')
('1965-12-25', 'Brandon Johnson', '70508', 91, 0, 'F', 'deborah97@example.org')
('1944-09-23', 'Brenda Garcia', '19612', 34, 5, 'M', 'barbara59@example.com')
('1944-08-29', 'Natalie Davis', '28887', 98, 2, 'F', 'rrodriguez@example.net')
('1953-10-18', 'Lisa Murphy', '25542', 89, 5, 'M', 'wmcclure@example.com')
('1940-06-10', 'Amanda Davis', '42718', 88, 3, 'F', 'michaelhamilton@example.com')
('1945-06-05', 'Evan Marshall', '68523', 18, 2, 'F', 'ksmith@example.org')
('1972-05-18', 'Jeffery Lopez', '25974', 44, 0, 'F', 'wallaceannette@example.org')
('1971-02-16', 'Jacob Chan', '62195', 98, 1, 'F', 'ajackson@example.com')
('1942-11-18', 'Rachel Gill', '18251', 23, 4, 'M', 'alicia95@example.com')
('1971-02-02', 'Jonathan Smith', '45211', 76, 2, 'M', 'kimberlygriffin@example.org')
('1982-03-15', 'Benjamin Torres', '42372', 90, 1, 'M', 'rachelwalker@example.net')
('2001-09-23', 'Robert Mckay', '25388', 34, 1, 'F', 'josephortiz@example.net')
('1940-07-25', 'Angie Holmes', '35916', 86, 3, 'F', 'jakepeters@example.com')
('1929-11-19', 'Jesse Wright', '83199', 88, 0, 'F', 'hendricksjodi@example.org')
('1985-06-23', 'Jessica Pugh', '02960', 83, 4, 'F', 'aevans@example.com')
('1953-07-19', 'Loretta Espinoza', '69222', 56, 4, 'M', 'john63@example.org')
('1978-06-29', 'Vanessa Wilson', '46186', 32, 3, 'M', 'marshallleonard@example.net')
('1964-08-19', 'Melanie Fernandez', '05187', 42, 4, 'M', 'april90@example.net')
('1934-08-08', 'Chad Collier', '10448', 38, 3, 'F', 'ryan02@example.net')
('1934-08-30', 'Leslie Dorsey', '29618', 35, 1, 'M', 'mmercado@example.net')
('1978-05-01', 'Cheryl Cunningham', '65275', 70, 5, 'M', 'jeffreyfreeman@example.com')
('1931-02-04', 'Daniel Rose', '13301', 37, 5, 'F', 'joseph36@example.com')
('1962-10-14', 'Matthew Vincent', '95983', 81, 5, 'M', 'donaldryan@example.com')
('1978-06-26', 'Stacy Harrison', '06004', 98, 2, 'F', 'mark32@example.com')
('1929-04-05', 'Charles Moran', '61675', 70, 1, 'M', 'gcarlson@example.com')
('1986-09-20', 'Lori Rogers', '06893', 97, 2, 'F', 'cjones@example.net')
('1944-03-11', 'Kyle Anthony', '03529', 95, 5, 'M', 'washingtonangela@example.com')
('1958-02-18', 'Craig Adams', '13707', 90, 0, 'M', 'stokesjames@example.org')
('1976-11-23', 'Ronald Heath', '72015', 50, 0, 'F', 'wdavis@example.org')
('1999-08-28', 'Carrie Lewis', '63408', 51, 5, 'M', 'markcox@example.net')
('1997-11-10', 'Jaime Thornton', '53793', 34, 4, 'F', 'xzavala@example.net')
('1955-01-13', 'Bianca Lang', '13831', 75, 0, 'M', 'richardmonroe@example.net')
('1952-07-14', 'Kyle Adams', '09036', 20, 5, 'F', 'pware@example.com')
('1978-11-02', 'Michael Cardenas', '59946', 99, 4, 'F', 'daniel74@example.org')
('1926-12-29', 'Cindy Donovan', '52806', 81, 2, 'M', 'rebecca67@example.org')
('1933-09-24', 'Charles Anthony', '07970', 99, 2, 'F', 'abrooks@example.net')
('1939-04-05', 'Darren Potter', '28928', 36, 5, 'M', 'stephanie89@example.com')
('1930-08-15', 'Sarah Williams', '66769', 23, 3, 'M', 'david12@example.net')
('1996-07-28', 'Angela Goodman', '24938', 30, 0, 'F', 'hhess@example.net')
('1990-01-03', 'Erin Lowe', '24477', 60, 0, 'F', 'pmills@example.net')
('1936-07-13', 'Patrick Robinson', '16412', 99, 0, 'M', 'twilliams@example.org')
('1984-10-28', 'Terry Mathews', '90530', 19, 5, 'M', 'acampos@example.com')
('1946-03-30', 'Shelley Mccarthy', '06811', 98, 3, 'F', 'krystal04@example.net')
('1923-12-10', 'Ashley Mckay', '29570', 97, 5, 'F', 'wmatthews@example.net')
('1929-04-15', 'Brian Boyd', '66313', 70, 2, 'F', 'simspaul@example.net')
('1937-01-21', 'Deanna Nelson', '89748', 64, 3, 'F', 'wreed@example.org')
('1978-02-10', 'Charles Jackson', '28144', 87, 1, 'M', 'adamsdarlene@example.com')
('1987-04-06', 'Susan Tucker', '42771', 83, 0, 'M', 'nboone@example.net')
('1953-07-12', 'Samuel Meyer', '83282', 36, 2, 'M', 'cevans@example.org')
('1970-09-23', 'Jason Bennett', '14148', 86, 2, 'M', 'rachelreed@example.com')
('1959-07-03', 'Ms. Darlene Ryan', '11772', 58, 4, 'F', 'georgeball@example.org')
('1939-05-13', 'Christopher Hawkins', '24026', 56, 2, 'F', 'rbrown@example.org')
('1981-04-25', 'Chelsea Lambert', '47837', 53, 1, 'M', 'barbara26@example.net')
('1997-03-08', 'Felicia Moore', '40424', 81, 4, 'F', 'tiffany33@example.org')
('1957-06-17', 'Richard Dominguez', '42085', 39, 5, 'M', 'rmartinez@example.org')
('1952-07-08', 'Steven Taylor', '55007', 92, 0, 'M', 'mkelley@example.com')
('1944-03-02', 'Craig Nelson', '87015', 100, 5, 'F', 'gdavies@example.org')
('1939-12-05', 'Kimberly Hampton', '99287', 20, 2, 'F', 'carolavila@example.net')
('1948-06-02', 'Mary Love', '60307', 94, 2, 'M', 'andrew09@example.org')
('1998-02-15', 'Mr. Timothy Harris', '73491', 87, 4, 'M', 'jennifer98@example.com')
('2000-12-08', 'Christina Glenn', '77397', 20, 3, 'F', 'adamschristopher@example.com')
('1999-08-19', 'Nicholas Hood', '40413', 75, 0, 'F', 'igarza@example.com')
('1937-12-27', 'Kenneth Coleman', '40830', 30, 5, 'M', 'watsonjonathan@example.org')
('1952-07-08', 'Nicole Torres', '25658', 45, 3, 'M', 'james79@example.net')
('1957-04-13', 'Ryan Lee', '31846', 35, 5, 'F', 'kennedyjohn@example.net')
('1932-06-23', 'Danielle Sosa MD', '53008', 21, 0, 'M', 'cdavis@example.net')
('1976-11-30', 'Karen Miles', '35727', 33, 1, 'F', 'chambersveronica@example.com')
('1946-06-13', 'Larry Joyce', '13665', 90, 3, 'M', 'joseph96@example.org')
('1926-04-19', 'Lauren Smith', '48050', 84, 2, 'F', 'wbrewer@example.net')
('1982-01-20', 'Nathan Anderson', '13782', 35, 4, 'F', 'edwardbell@example.com')
('1923-08-31', 'Anna Jackson', '99625', 38, 1, 'M', 'clarkbrandy@example.net')
('1942-03-04', 'Karen Armstrong', '46722', 31, 1, 'F', 'stephenyoung@example.org')
('1973-10-03', 'Angela Reynolds', '66906', 58, 4, 'M', 'alejandralopez@example.net')
('1985-11-12', 'Alex Hicks', '44102', 61, 5, 'M', 'plynch@example.com')
('1985-08-17', 'Mathew Hernandez', '04120', 91, 4, 'M', 'amandaburton@example.com')
('1943-09-03', 'Jamie Matthews', '32336', 45, 2, 'M', 'kellyallen@example.org')
('1978-12-14', 'Ms. Emma Lloyd', '78012', 39, 0, 'F', 'johnmorales@example.com')
('1979-07-09', 'Daniel Wiley', '08903', 39, 0, 'M', 'brandyarnold@example.net')
('1994-02-06', 'Krista Olson', '42434', 57, 3, 'M', 'tiffany49@example.net')
('1948-10-31', 'Melissa Curtis', '81833', 19, 3, 'F', 'nicholashogan@example.org')
('1924-03-05', 'Amber Larson', '61091', 23, 3, 'M', 'mhenderson@example.org')
('1944-02-26', 'Jason Beard', '17404', 89, 2, 'F', 'bushdawn@example.org')
('1965-06-22', 'Shawn Hunt', '09482', 57, 1, 'F', 'sarah32@example.com')
('1932-02-17', 'Bradley Deleon', '68265', 75, 4, 'F', 'dsmith@example.com')
('1960-12-31', 'Phillip Campbell', '42453', 52, 5, 'F', 'rachelharrell@example.com')
('2005-01-18', 'Mark Mason', '46753', 36, 2, 'M', 'amanda42@example.com')
('1994-07-16', 'Heather Randall', '19287', 69, 5, 'M', 'markdavenport@example.org')
('1966-06-27', 'Kelly Davis', '53504', 77, 3, 'M', 'qtorres@example.com')
('1951-07-27', 'Paula Anderson', '70440', 99, 2, 'F', 'crosbyheather@example.org')
('1985-03-10', 'John Lane', '31628', 90, 4, 'M', 'murphyleslie@example.org')
('2001-02-01', 'Kelly Dalton', '52849', 33, 0, 'F', 'taylorjohnson@example.com')
('1998-09-08', 'Kimberly Cook', '31998', 44, 3, 'F', 'gutierrezjeffrey@example.net')
('1942-11-04', 'Jimmy Williams', '50017', 51, 3, 'M', 'johnny55@example.net')
('1993-11-01', 'Theodore Baird', '53212', 68, 0, 'F', 'wilkersonbryan@example.com')
('1951-06-06', 'Cassandra Lara', '60632', 82, 3, 'F', 'jessica34@example.net')
('1987-01-02', 'Joshua Erickson', '27769', 99, 5, 'M', 'wwashington@example.org')
('1985-06-10', 'Jessica Rodriguez', '36043', 54, 2, 'M', 'michelle30@example.com')
('1939-05-06', 'Lawrence Chang', '98812', 59, 2, 'M', 'michael27@example.com')
('1961-07-28', 'Christy Fox', '31348', 44, 1, 'M', 'churchmichele@example.com')
('1970-08-22', 'Nancy Henry', '71738', 54, 1, 'M', 'tyleranderson@example.com')
('1930-10-03', 'Jordan Flowers', '17089', 29, 1, 'M', 'phillipschristopher@example.net')
('1944-09-22', 'Rebecca Cohen', '43021', 38, 3, 'F', 'martinjoann@example.net')
('2005-07-22', 'Meghan Fox', '43435', 44, 4, 'M', 'sarah91@example.org')
('1941-12-08', 'Thomas Henry', '66693', 61, 3, 'M', 'jacksonnatasha@example.net')
('1974-01-09', 'Mary Garcia', '42224', 87, 5, 'F', 'alexandermcintosh@example.net')
('2001-02-10', 'Crystal Bowman', '18683', 74, 4, 'F', 'christian62@example.org')
('1925-06-04', 'Mr. Harold Rios', '70511', 38, 5, 'F', 'travis61@example.net')
('1964-06-02', 'Dustin Guerra', '91191', 97, 0, 'F', 'gregoryhayes@example.org')
('1976-02-05', 'Paul Mason', '89498', 29, 3, 'F', 'davilaamy@example.com')
('1983-05-02', 'Kimberly Clark', '72507', 43, 3, 'F', 'anita49@example.org')
('1938-10-16', 'Keith Smith', '56670', 46, 5, 'M', 'matthew90@example.org')

In [4]:
num_rows = 500

random_database = generate_unique_database(num_rows)

# Convert the list of tuples to a DataFrame
columns = ["fecha", "nombre", "cp", "edad", "n_hijos_menores", "sexo", "email"]
df = pd.DataFrame(random_database, columns=columns)

# Display the DataFrame
df

,fecha,nombre,cp,edad,n_hijos_menores,sexo,email
0,1952-05-27,Austin Carter,99307,61,2,F,qramirez@example.com
1,1925-03-05,Tiffany Williams,69593,42,1,M,padilladarrell@example.net
2,1972-07-30,Madison Smith,64831,38,5,F,ifrench@example.net
3,1994-11-20,Douglas White,32439,62,4,M,moonrachel@example.net
4,1978-05-26,William Reed,52052,71,3,F,hornenicole@example.org
...,...,...,...,...,...,...,...
495,1993-05-12,Luke Glenn,13155,45,3,F,amberowens@example.org
496,1991-08-19,Sabrina Pineda,17833,92,2,F,xking@example.com
497,1980-06-19,Michele Thompson,11502,27,2,F,schmidtcalvin@example.net
498,1953-08-26,Christopher Blankenship,72318,50,5,M,dalelang@example.net
499,1945-06-30,Alejandro Hudson,00607,53,4,F,jonesdean@example.org

In [8]:
df['email'].nunique()

498

In [11]:
VALID_POSTAL_CODES = [
    28001, 28002, 28003, 28004, 28005, 28006, 28007, 28008, 28009, 28010,
    28011, 28012, 28013, 28014, 28015, 28016, 28017, 28018, 28019, 28020,
    28021, 28022, 28023, 28024, 28025, 28026, 28027, 28028, 28029, 28030,
    28031, 28032, 28033, 28034, 28035, 28036, 28037, 28038, 28039, 28040,
    28041, 28042, 28043, 28044, 28045, 28046, 28047, 28048, 28049, 28050,
    28051, 28052, 28053, 28054, 28055, 28070, 28071, 28080, 28082, 28083,
    28085, 28086, 28087
]

def generate_unique_database(num_rows):
    fake = Faker()
    database = set()
    email_set = set()

    start_date = datetime(2010, 1, 10)
    end_date = datetime.now()

    while len(database) < num_rows:
        fecha = fake.date_of_birth(minimum_age=18, maximum_age=100).strftime("%Y-%m-%d")
        nombre = fake.name()
        cp = random.choice(VALID_POSTAL_CODES)
        edad = random.randint(18, 100)
        n_hijos_menores = random.randint(0, 5)
        sexo = random.choice(["M", "F"])

        while True:
            email = fake.email()
            if email not in email_set:
                email_set.add(email)
                break
        
        registration_date = fake.date_between(start_date=start_date, end_date=end_date).strftime("%Y-%m-%d")
        
        row = (fecha, nombre, cp, edad, n_hijos_menores, sexo, email, registration_date)
        database.add(row)

    return list(database)

# Example usage:
num_rows = 500

random_database = generate_unique_database(num_rows)

# Convert the list of tuples to a DataFrame
columns = ["fecha", "nombre", "cp", "edad", "n_hijos_menores", "sexo", "email", "date_of_registration"]
df = pd.DataFrame(random_database, columns=columns)

# Display the DataFrame
df

,fecha,nombre,cp,edad,n_hijos_menores,sexo,email,date_of_registration
0,1937-01-19,Dale Campbell MD,28048,89,5,M,angela44@example.com,2017-05-25
1,1978-11-08,Rachel West,28002,98,5,F,alyssamartin@example.net,2018-07-02
2,1989-09-22,Douglas Malone,28003,90,3,F,deniselewis@example.net,2018-09-12
3,1953-05-21,Jerry Bell,28014,76,2,F,holmeskenneth@example.net,2020-06-19
4,1965-05-01,Melissa Byrd,28033,76,4,M,zshaw@example.com,2018-11-13
...,...,...,...,...,...,...,...,...
495,1969-09-10,Kirsten Miller,28025,75,5,F,elizabeth46@example.com,2013-05-09
496,1974-06-03,Cynthia Robbins,28047,28,1,F,loriking@example.org,2020-02-16
497,1946-07-29,Suzanne Kennedy,28034,73,5,M,bookerdavid@example.net,2021-01-26
498,1945-03-06,Maria Dorsey,28010,63,0,F,colemanchristopher@example.com,2021-05-15
499,1996-09-05,Crystal Jackson,28032,72,3,M,hblankenship@example.org,2019-08-25

In [12]:
df['email'].nunique()

500